.container{
    background-color: black;
}
.container-item{
    margin: 10px;
    padding: 10px;
}
.container__body {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr;
}
.container__about {
    grid-row: 1/2;
}
.about__title {
}
.abou__text {
}
.container__expirience {
    grid-row: 2/3;
}
.container__education {
    grid-row: 3/4;

}
.container__achives {
    grid-row: 4/5;

}
.container__photo {
    grid-row: 1/2;

}
.container__contacts {
    grid-row: 2/3;
}
.container__profecional {
    grid-row: 3/4;

}
.container__hobbys {
    grid-row: 4/5;
}
