<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="users">
        <div th:each="oneUser : ${usersList}" class="users__body">
            <h2 th:text="'Name: '+${oneUser.name}" class="user__name"/>
            <p th:text="'Email: '+${oneUser.email}" class="user__email"/>
<!--            <a th:href="@{'users/'+${oneUser.id}}" class="user__more">More info</a>-->
        </div>
    </div>
</body>
</html>